* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 75% auto;
}
/* -------------------------- */
/* toolbar */
.toolbar {
  background-color: #f5f5f5;
  padding: 1% 0 1% 1%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.main-toolbar{
  display: flex;
  justify-content: left;
}

.extra-button-container {
  display: flex;
  justify-content: right;
}
.extra-button {
  background-color: #e0e0e0;
  color: #415057;
  border: 0;
  border-radius: 5px;
  padding: 1.5% 1%;
  margin-right:3% ;
}

/* ------------------------------------- */

.left-col {
  height: 100%;
}

RichEditor-root {
  background: #fff;
  border: 1px solid #ddd;
  font-family: "Georgia", serif;
  font-size: 1rem;
  padding: 1%;
  height: 100%;
}

.RichEditor-editor {
  border-top: 1px solid #ddd;
  cursor: text;
  font-size: 1rem;
}

.RichEditor-editor .public-DraftEditorPlaceholder-root,
.RichEditor-editor .public-DraftEditor-content {
  margin: 0 -1% -1%;
  padding: 1%;
}

.RichEditor-editor .public-DraftEditor-content {
  min-height: 100px;
}

/* .RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
} */

.RichEditor-editor .RichEditor-blockquote {
  border-left: 5px solid #eee;
  color: #666;
  font-family: "Hoefler Text", "Georgia", serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

.RichEditor-editor .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: "Inconsolata", "Menlo", "Consolas", monospace;
  font-size: 16px;
  padding: 20px;
}

.RichEditor-controls {
  font-family: "Helvetica", sans-serif;
  font-size: 1rem;
  margin-bottom: 0;
  user-select: none;
}

/* .RichEditor-styleButton {
  color: #999;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
  display: inline-block;
} */

.style-btn {
  cursor: pointer;
  margin-right: 2.5%;
  padding: 2px 0 0 0;
  display: inline-block;
  border: 0;
  background-color: transparent;
  color: #415057;
  font-size: 1.2rem;
}

.style-btn-active {
  background-color: #e0e0e0;
  border-radius: 30px;
  padding: 0.8%;
}
.text-bold {
  font-weight: bold;
}
.text-italic {
  font-style: italic;
}
.text-underline {
  text-decoration: underline;
}
.change-my-color {
  fill: #415057;
  margin: auto;
  width: 14px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* --------------------------------------------------- */

/* right col */

.right-col {
  border: 0.1rem solid rgb(243, 238, 238);
}

.heading {
  margin: 0 0 2% 10%;
}

.heading h1 {
  color: #27add1;
  font-size: 1.5rem;
  padding: 7% 0 5% 0;
}
.sub-heading {
  padding: 0.5% 0 1% 10%;
  border: 0.1rem solid rgb(243, 238, 238);
}
.sub-heading h2 {
  color: #63808d;
  font-weight: 400;
  font-size: 1.2rem;
}
.sub-heading p {
  color: #a1a1a1;
  font-weight: bolder;
  font-size: 1.2rem;
  margin: 1% 0 2% 0;
}

.sub-heading-btn {
  padding: 5% 15%;
}
.sub-heading button {
  background-color: #6b70ea;
  padding: 5% 15%;
  border-radius: 7px;
  border: 0;
}
.sub-heading button p {
  color: #fff;
}

.keyword-btn {
  padding: 2% 5%;
  border-radius: 30px;
  margin: 1%;
  background-color: #ea4863;
  color: #fff;
  border: 0;
}

.keyword-btn:nth-child(3) {
  background: #50c955;
}
